#chat-page-container{
    background-color: blue;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav-row{
    position:static;
}

#logout-column{
    display: inline-flex;
    flex-direction: row-reverse;
}

#jumbotron-row{
    background-color: yellow;
    height: 100vh;
    padding-bottom: 1vh;
}

.jumbo-cols{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

#texts-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#channel-history{
    /* background-color: red; */
    height: 100%;
    overflow-y:auto;
}

