#chat-page-container{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#nav-row{
    position:static;
}

#logout-column{
    display: inline-flex;
    flex-direction: row-reverse;
}

#jumbotron-row{
    height: 100vh;
    margin-bottom: 1vh;
}

.jumbo-cols{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
}

#texts-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#channel-history{
    height: 100%;
    overflow-y:auto;
}

#text-form{
    padding: 10px;
}

.textBubble{
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    padding: 1% 2% 0 2%;
}
